@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: .6rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #3f3f3f;
    border-radius: 1vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b5fffb46;
    border-radius: 1vw;
    transition: .4s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #bbf5ffcc;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    letter-spacing: .4px;
}

body{
    background: #070707;
    overflow-x: hidden;
    position: relative;
   width: 100vw;
}

.home{
    z-index: -1;
}


header{
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}

div.logo{
    position: absolute;
    top: auto;
    left: 5vw;
    color: #fff;
    font-size: medium;
    font-weight: 600;
    visibility: hidden;
}


div.menu{
    position: absolute;
    top: auto;
    right: 5vw;
    visibility: hidden;
}
 
div.menu button{
    background: transparent;
}

div.menu button fa-bars {
    font-size: medium;
}

header ul{
    padding: 0 4vw;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 6%;
}

header ul a {
text-decoration: none;
font-size: medium;
font-weight: 600;
color: #fff8;
transition: .6s ease-in-out;
}

a:hover{
    color: #fff;
}

div.phone{
    position: absolute;
    background: rgba(216, 252, 255, 0.034);
    backdrop-filter: blur(12.3px);
    border-radius: 1vw;
    -webkit-backdrop-filter: blur(12.3px);
    border: .2vw solid rgba(224, 252, 255, 0.048);
    top: 10vw;
    right: 0;
    z-index: 888;
    visibility: hidden;
}

div.phone ul{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    padding: 6vw 12vw;
}


@media(max-width: 650px){
    header .nav{
        visibility: hidden;
    }

    div.menu ,
    div.logo{
        visibility: visible;
    }

    div.phone{
        visibility: visible;
    }

}

@media(max-width: 450px){
   
    div.menu {
        right: 7vw;
    }
    div.logo{
        left: 7vw;
    }

}

spline-viewer{
    width: 100vw;
}



.about-sec .animated-text{
        white-space: nowrap;
        animation: animateText 25s linear infinite;
        font-size:xx-large ;
}
@keyframes animateText{
    100%{
        translate: -50% 0;
    }
}

@media(max-width: 670px){
   
    .about-sec .animated-text{
       font-size: x-large;
     }
   }
   @media(max-width: 510px){
   
    .about-sec .animated-text{
       font-size: large;
     }
   }
      

.about-sec .animated-text h1{
    font-weight: 500;
    color: #d6f5ff;
    text-transform: uppercase;
}

.about-main{
    width: 100%;
    text-align: center;
    padding: 5vw 3vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    column-gap: 2vw;
    color: #fff;
}

.about-main p{
    width: 70vw;
    line-height: 1.99;
    font-size: large;
    color: rgba(255, 255, 255, 0.938);
}

.about-main h1,
section.service h1,
.work h1,
.contacts h1{
    font-size: 4vw;
    padding: 2vw 0;
    text-transform: uppercase;
    background: -webkit-linear-gradient(150deg ,#fff, #aaf9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.stuff {
    padding: 1vw 3vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    }
    
.stuff .item{
background: rgba(216, 252, 255, 0.034);
backdrop-filter: blur(12.3px);
border-radius: 1vw;
-webkit-backdrop-filter: blur(12.3px);
border: .2vw solid rgba(224, 252, 255, 0.048);
display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    column-gap: 4vw;
    color: #fff;
    padding: 2.5vw 0;
    transition: .3s ease-in-out;
}

.stuff .item h2{
font-size: xx-large;
transform: scale(1.8);
background: -webkit-linear-gradient(150deg ,#fff, #aaf9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stuff .item span{
    font-size: medium;
}

    @media(max-width: 1100px){
        
        .about-main h1,
        section.service h1,
        .work h1,
        .contacts h1{
            font-size: 4vw;
        }

        .stuff .item h2{
transform: scale(1.5);
        }

    
        }
    
        @media(max-width: 800px){
            .about-main h1,
            section.service h1,
            .work h1,
            .contacts h1{
                font-size: 5vw;
            }
        
            .stuff .item h2{
                transform: scale(1.4);
                        }
        
            }
            
 @media(max-width: 760px){
                .stuff .item h2{
                    transform: scale(1.2);
                            }
            
                }
@media(max-width: 660px){
                    .stuff .item h2{
                        transform: scale(1);
                                }
                
                                .stuff {

                                    grid-template-columns: repeat(2, 1fr);
                                    grid-template-rows: repeat(2, 1fr);
                                    grid-column-gap: 2vw;
                                    grid-row-gap: 2vw;
                                    }
                                    
                    }
                    
                        
@media(max-width: 550px){
    
    .about-main h1,
    section.service h1,
    .work h1,
    .contacts h1{
        font-size: 6vw;
    }
    


    }

    @media(max-width: 480px){
        .about-main h1,
        section.service h1,
        .work h1,
        .contacts h1{
            font-size: 7vw;
        }
        }
    

        @media(max-width: 400px){

            .about-main h1,
            section.service h1,
            .work h1,
            .contacts h1{
                font-size: 7vw;
            }
            }
        
    

section.service,
section.work,
section.contacts{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: #fff;
}

section.service .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2em;
    width: 90vw;
    padding: 2vw 0;
    position: relative;
}



.box .item{
    background: rgba(216, 252, 255, 0.034);
backdrop-filter: blur(8vw);
border-radius: 1vw;
-webkit-backdrop-filter: blur(19vw);
border: .2vw solid rgba(224, 252, 255, 0.048);
    width: 30%;
    padding: 2vw 3vw;
    position: relative;
}

.box .item img{
    border: .2vw solid rgba(224, 252, 255, 0.274);
    padding: 1vw;
    border-radius: 50%;
    width: 16%;
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
}

.box .item h2{
    padding: 1.2vw;
    transform: scale(1.2);
    margin: 1rem;
    font-weight: 600; 
    font-size: 1.5em;
    width: 70%;
}

.box .item p{
    font-size: large;
    line-height: 1.9;
    padding-bottom: 1rem;
}

.box .shape{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: #bbf5ffcc;
    border-radius: 50%;
    filter: blur(5rem);
   
    z-index: -1;
}

.box .one{
    top: 0;
    left: 0;
}

.box .two{
    bottom: 0;
    right: 0;
}

@media(max-width: 1050px){
    .box .item h2{
        font-size: 1.3em;
    }

.about-main p ,
    .box .item p{
        font-size: medium;
    }
    
} 

@media(max-width: 950px){


     .box .item h2{
        font-size: 1.2em;
    } 
    }
    
        
    @media(max-width: 930px){

        .box .item {
            width: 45%;
            height: 32vw;
        }

        
.box .item img{
    width: 13%;
}

}       

@media(max-width: 890px){

    .box .item {
        height: 20em;
    }

}
 @media(max-width: 680px){

    .box .item {
        height: 23em;
    }


}
    
@media(max-width: 570px){

    .box .item {
        width: 80%;
        height: auto;
    }

    .box .item h2{
        font-size: 1.1em;
    }
    
    .box .item img{
        width: 9%;
    }

}

@media(max-width: 450px){
    .box .item {
        width: 90%;
    }

}
@media(max-width: 400px){

    .box .item {
        width: 94%;
    }

    .box .item h2{
        font-size: 1em;
    }

}


@media (max-width: 768px) { 
    spline-viewer {
      width: 120vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
}

@media (max-width:550px) { 
    spline-viewer {
        width: 160vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
}

@media (max-width:500px) { 
    spline-viewer {
     margin: 3em 0 5em;
    }
}






